{% extends 'academica/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="box box-success">
        {% crispy form %}

        <div class="modal-footer">


            <a class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Guardar y agregar otro</a>
            <a href="javascript:history.back()" class="btn btn-success pull-right"><i class="fa fa-remove"></i>
                Cancelar</a>

        </div>

    </div>
    <script>

function cambiarProfesores() {
    var id_materia = $('#id_materia').val()

    $.ajax({
        data: {
            'materia': id_materia,


        },
        url: '/academica/buscarprofesores-ajax/',
        type: 'get',
        success: function (data) {
            var objeto = JSON.parse(data)
            options = ''
            for (var i = 0; i < objeto.length; i++) {
                options += '<option value=' + objeto[i].id + '>' + objeto[i].expediente + '</option>'
            }

            $('#id_profesores').html(options)
            document.getElementById('id_profesores').disabled = false
        }

    })

}
    </script>
{% endblock %}
